*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

header{
    background:#1e293b;
    color:white;
    padding:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

#hero{
    padding:100px 20px;
    text-align:center;
}

#about{
    padding:50px 20px;
}

footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
}
